<div class="container py-5">
  <h3 class="mb-4">All Canteens</h3>

<!--  <div *ngIf="loading" class="alert alert-info">Loading...</div>-->
<!--  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>-->

  <div class="row g-4">
    <div *ngFor="let c of canteens" class="col-12 col-md-6 col-lg-4">
      <div class="card shadow-sm h-100">
        <div class="card-body">
          <h5 class="card-title">{{ c.name }}</h5>
          <p class="card-text">{{ c.address }}</p>
          <p class="card-text">
            Open: {{ c.open_at | date:'HH:mm' }} - {{ c.close_at | date:'HH:mm' }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
