<div class="container py-4">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <div>
      <h1 class="display-6 m-0">Slobodne sobe</h1>
      <small class="text-muted">Prikaz svih slobodnih soba u odabranom domu</small>
    </div>
  </div>

  <ng-container *ngIf="state$ | async as s">
    <!-- MISSING DOM ID -->
    <div *ngIf="s.status === 'missing'" class="alert alert-warning">
      Nedostaje <code>domId</code> u URL-u. Otvori sa:
      <code>/rooms/free?domId=&lt;uuid&gt;</code>
    </div>

    <!-- LOADING -->
    <div *ngIf="s.status === 'loading'" class="text-center py-5">
      <div class="spinner-border" role="status"></div>
      <div class="mt-2">Učitavanje...</div>
    </div>

    <!-- ERROR -->
    <div *ngIf="s.status === 'error'" class="alert alert-danger">
      Došlo je do greške prilikom preuzimanja soba.
    </div>

    <!-- SUCCESS -->
    <ng-container *ngIf="s.status === 'success'">
      <div class="card shadow-sm">
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-hover table-striped align-middle mb-0">
              <thead class="table-light">
                <tr>
                  <th style="width:20%">Broj</th>
                  <th style="width:20%">Status</th>
                  <th style="width:20%">Kapacitet</th>
                  <th class="text-end" style="width:40%"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let r of s.rooms">
                  <td class="fw-semibold">{{ r.broj }}</td>
                  <td>
                    <span class="badge" [class.bg-success]="r.slobodna" [class.bg-secondary]="!r.slobodna">
                      {{ r.slobodna ? 'Slobodna' : 'Zauzeta' }}
                    </span>
                  </td>
                  <td>
                    <span class="fw-semibold">
                      {{ r.kapacitet}}
                    </span>
                  </td>
                  <td>
                    <span class="fw-semibold">
                      ID: {{ r.id}}
                    </span>
                  </td>
                    <td class="text-end">
                    <button class="btn btn-primary btn-sm"
                            (click)="toDetails(r.id)">
                      View details
                    </button>
                  </td>
                  <td class="text-end">
                    <button *ngIf="auth.userRole === 'admin'" class="btn btn-primary btn-sm"
                            (click)="toAssign(s.domId, r.broj)">
                      Assign student
                    </button>
                  </td>
                </tr>
<!--                <tr *ngIf="s.rooms.length === 0">-->
<!--                  <td colspan="3" class="text-center text-muted py-4">-->
<!--                    Trenutno nema slobodnih soba.-->
<!--                  </td>-->
<!--                </tr>-->
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer text-muted">
          Dom: <code>{{ s.domId }}</code>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
